streamlit
streamlit-drawable-canvas
matrixmapper @ git+https://github.com/magnushelliesen/matrix-mapper.git
neuralnetwork @ git+https://github.com/magnushelliesen/neural-network.git
google-cloud-storage
matplotlib
